.hashtrack-nav {
  background-color: $color-default-theme;
  padding-top: 24px;
  padding-bottom: 10px;
}

.hashtrack-nav img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ion-android-exit{
  font-size: 15px;
}

.subnav {
  background-color: #e0e4e6;
  color: #5F6C72;
}

.subnav-timer {
  background-color: $color-red-deep;
  color: white;
}